footer {
    margin-bottom: 50px;
}

#darkTheme, #sendButton, 
#clearMessages, #customTheme, 
#largeText {
    border: solid white 1px;
} 

.darkTheme {
    background: #242222;
 }

.darkThemeBubble {
    color: white;
}

.largeText {
    font-size: 35px;
}

form {
    margin-bottom: 0;
}

#chatBox {
    border: solid black 1px;
    width: 100%;
    height: 55%;
    overflow: scroll;
}

.messageText {
    width: 45%;
    margin-right: 5%;
    padding-top: 12px;
}

.nameText {
    width: 5%;
    padding-top: 12px;
}

.timeText {
    padding-top: 12px;
}

.btn {
    max-height: 40px;
    margin-top: 5px;
}

#sendButton, #gifButton {
    max-height: 100%;
}

#modalText {
    margin-left: 10%;
    margin-top: 1%;
}

#gifInput {
    width: 80%;
}

#numberPar, #numberInput {
    display: inline;
    margin-left: 18.3%;
}

.gifImage {
    height: 100px;
    width: 100px;
    margin: 1%;
}

.gifImageChosen {
    height: 100px;
    width: 100px;
}